.center {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    height: 50%;
    width: 30%;
    padding: 20px;
    overflow: auto;
}

.timenow {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    font-size: 48px;
    padding: 10px;
    border-radius: var(--border-radius); 
    margin-bottom: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.counter {
    font-size: 36px;
    color: var(--highlight-color);
}

#eventsListContainer { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; }

.eventsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--odierno-bg-color); /* Background color */
    padding: 20px; /* Padding around the content */
    border-radius: var(--border-radius); /* Rounded corners */
    margin-top: 20px; /* Space above the section */
    transition: all var(--transition-speed) ease; 
    margin-left: 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.eventsList:hover {
    transform: scale(1.02);
}

.event {
    background-color: var(--event-bg-color);
    border-radius: var (--border-radius);
    padding: 10px;
    display: contents;
    grid-template-columns: 1fr, 1fr, 1fr; 
    align-items: center;
    transition: background-color var(--transition-speed);
}

.event:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.event-name {
    font-weight: bold;
}

.event-time {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .center {
        width: 80%; 
    }

    .header .left h1 {
        display: none;
    }  

    .header .middle .menu {
        display: none;
    }

    .header .middle .menu li {
        padding: 10px 15px; 
    }

    .container {
        flex-direction: column;
    }

    .timenow {
        font-size: 36px; 
    }

    .counter {
        font-size: 28px; 
    }

    #odiernoContainer {
        grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }

    .odierno {
        margin-left: 0;
    }
}